#recentpostmd{
 

	width:50%;
	display:flex; align-items:center; justify-content:space-between;
	flex-wrap:wrap;
	margin:0;

	.half{ width:calc( 50% - 1em); margin: 1em;

		&:first-of-type{
			margin-left:0;
		}

		&:last-of-type{
			margin-right:0;
		} 

	}

	select, option, input, textarea {
		font-size:1em;
		line-height:2em;
		width:100%;
		margin: 0 auto;

		&[type="submit"]{

			background:#0fb681;
			color:#fff;
			border:none; 
			margin: 0.5em auto;
		}
	}
}

#markdownContent{
width:50%;
margin: 0 ;
display:block;
font-size:2em;
min-height:10em;
margin-top:1em;

}